# Zero Variance

In [24]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from pandas.plotting import scatter_matrix

High Variance in predictors: Good Indication
Low Variance predictors: Not good for model

In [2]:
df = pd.read_csv('Z_dataset.csv')

In [3]:
df.describe()

               Id  square.length  square.breadth  rec.Length  rec.breadth
count  150.000000     150.000000      150.000000  150.000000   150.000000
mean    75.500000       5.843333        3.057333    3.758000     1.199333
std     43.445368       0.828066        0.435866    1.765298     0.762238
min      1.000000       4.300000        2.000000    1.000000     0.100000
25%     38.250000       5.100000        2.800000    1.600000     0.300000
50%     75.500000       5.800000        3.000000    4.350000     1.300000
75%    112.750000       6.400000        3.300000    5.100000     1.800000
max    150.000000       7.900000        4.400000    6.900000     2.500000

In [4]:
df.isna().sum()

Id                0
square.length     0
square.breadth    0
rec.Length        0
rec.breadth       0
colour            0
dtype: int64

In [5]:
df.dtypes

Id                  int64
square.length     float64
square.breadth    float64
rec.Length        float64
rec.breadth       float64
colour             object
dtype: object

In [6]:
df.columns

Index(['Id', 'square.length', 'square.breadth', 'rec.Length', 'rec.breadth',
       'colour'],
      dtype='object')

In [7]:
df.var()

Id                1887.500000
square.length        0.685694
square.breadth       0.189979
rec.Length           3.116278
rec.breadth          0.581006
dtype: float64

In [8]:
df.head(20)

    Id  square.length  square.breadth  rec.Length  rec.breadth colour
0    1            5.1             3.5         1.4          0.2   Blue
1    2            4.9             3.0         1.4          0.2   Blue
2    3            4.7             3.2         1.3          0.2   Blue
3    4            4.6             3.1         1.5          0.2   Blue
4    5            5.0             3.6         1.4          0.2   Blue
5    6            5.4             3.9         1.7          0.4   Blue
6    7            4.6             3.4         1.4          0.3   Blue
7    8            5.0             3.4         1.5          0.2   Blue
8    9            4.4             2.9         1.4          0.2   Blue
9   10            4.9             3.1         1.5          0.1   Blue
10  11            5.4             3.7         1.5          0.2   Blue
11  12            4.8             3.4         1.6          0.2   Blue
12  13            4.8             3.0         1.4          0.1   Blue
13  14            4.3             3.0         1.1          0.1   Blue
14  15            5.8             4.0         1.2          0.2   Blue
15  16            5.7             4.4         1.5          0.4   Blue
16  17            5.4             3.9         1.3          0.4   Blue
17  18            5.1             3.5         1.4          0.3   Blue
18  19            5.7             3.8         1.7          0.3   Blue
19  20            5.1             3.8         1.5          0.3   Blue

In [9]:
#catagories = [var for var in df.colour if df['colour'].dtype == 'O']

In [10]:
df['colour'].unique()

array(['Blue', 'Green', 'Orange'], dtype=object)

Variance Threshold is a feature selector that removes all the low variance features from the dataset that are of no great use in modeling
1. If Variance Threshold = 0 (Remove Constant Features )
2. If Variance Threshold > 0 (Remove Quasi-Constant Features )

Variance Threshold can work only upon numerical data

In [34]:
#so we convert color into 1,2,3 etc in color_ord
df

      Id  square.length  square.breadth  rec.Length  rec.breadth  colour  color_ord
0      1            5.1             3.5         1.4          0.2    Blue          1
1      2            4.9             3.0         1.4          0.2    Blue          1
2      3            4.7             3.2         1.3          0.2    Blue          1
3      4            4.6             3.1         1.5          0.2    Blue          1
4      5            5.0             3.6         1.4          0.2    Blue          1
..   ...            ...             ...         ...          ...     ...        ...
145  146            6.7             3.0         5.2          2.3  Orange          3
146  147            6.3             2.5         5.0          1.9  Orange          3
147  148            6.5             3.0         5.2          2.0  Orange          3
148  149            6.2             3.4         5.4          2.3  Orange          3
149  150            5.9             3.0         5.1          1.8  Orange          3

[150 rows x 7 columns]

In [35]:
df.dtypes

Id                  int64
square.length     float64
square.breadth    float64
rec.Length        float64
rec.breadth       float64
colour             object
color_ord           int64
dtype: object

In [36]:
from sklearn.feature_selection import VarianceThreshold

In [57]:
var_thr = VarianceThreshold(threshold= 0.8) #removing both const and quasi const

In [58]:
var_thr.fit(df[['Id' ,'square.length', 'square.breadth', 
               'rec.Length', 'rec.breadth' ,'color_ord']])

VarianceThreshold(threshold=0.8)

In [64]:
var_thr.get_support()

array([ True, False, False,  True, False, False])

True: Low Variance
False: High Variance

In [60]:
# concol = [column for column in df.columns
#            if column not in df.columns[var_thr.get_support()]]

as we can see next step is to drop zero variance col but in our dataset except square.breadth all have zero variance, so we adjust threshold to 0.8 and there is 2 col with zero var and now we will drop them

In [61]:
df.drop(df[['Id', 'rec.Length']], axis=1)

     square.length  square.breadth  rec.breadth  colour  color_ord
0              5.1             3.5          0.2    Blue          1
1              4.9             3.0          0.2    Blue          1
2              4.7             3.2          0.2    Blue          1
3              4.6             3.1          0.2    Blue          1
4              5.0             3.6          0.2    Blue          1
..             ...             ...          ...     ...        ...
145            6.7             3.0          2.3  Orange          3
146            6.3             2.5          1.9  Orange          3
147            6.5             3.0          2.0  Orange          3
148            6.2             3.4          2.3  Orange          3
149            5.9             3.0          1.8  Orange          3

[150 rows x 5 columns]